.calculator-container{
    height: 100vh;
    padding: 8px;
    gap:16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{
    display: flex;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    background-color: green;
    color:white;
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button-row {
    display: flex;
    gap:  8px;
    justify-content: space-between;
}

.button-row #zero-button {
    flex-grow: 1;
}